extends layout

block content
    .col-lg-12.col-md-12.col-sm-12#hero
        img(src="/images/p0.png", alt="")
        #solid
            button(href="#", id="herobtn") Shop now
            img(src="/images/g0.png", alt="", style={"width":"50%"})
        #solid
            #text.a
                span.title GO MODERN
                span.cont Nada óbvios, os shapes são contemporâneos com recortes estratégicos e estampas abstratas.
                #link
                    a(href="#") shop now
        img(src="/images/p1.png", alt="", srcset="")
        img(src="/images/p2.png", alt="", srcset="")
        #solid
            #text.b
                span.title CORES DA CIDADE
                span.cont Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                #link
                    a(href="#") shop now
    .col-lg-12.col-md-12.col-sm-12#hero2
        #text
            span.title Inside animale
            span.cont Fique por dentro do Universo Animale com apenas um clique.
            #link
                a(href="#") shop now
        img(src="/images/hero2.png", alt="", srcset="")
    .col-lg-12.col-md-12.col-sm-1#hero3
        .cd
            img(src="/images/h31.png", alt="", srcset="")
            .cd-box
                span.ti Lunar
                span.ct De Sevilla, capital do flamenco, o vestuário típico da dança mais celebrada da Espanha inspira as novas peças da coleção.
                #link
                    a(href="#") shop now
        .cd
            img(src="/images/h32.png", alt="", srcset="")
            .cd-box
                span.ti flutua
                span.ct A natureza dos célebres jardins espanhóis dá vida às estampas florais
                #link
                    a(href="#") shop now
        .cd
            img(src="/images/h33.png", alt="", srcset="")
            .cd-box
                span.ti FLASH LIGHTS
                span.ct O último editorial também se inspira em Barcelona, cidade iluminada pelo sol. Conheça as cores que são aposta da coleção.
                #link
                    a(href="#") shop now

