extends layout

block content
    ul.list-group
    each produto, i in produtos
        li.list-group-item
            a(href="/item/"+produto.productId)
                p#img: img(src=produto.items[1].images[0].imageUrl, style={"width":"30%"})
                p#prodName= produto.productTitle
                p#prodBrand= produto.brand
                p#prodDescription= produto.metaTagDescription