doctype html
html
    head
        title #{page_title}
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        //- #sidemenu
        //-     ul.nav
        //-         li.nav-item
        //-             a.nav-link(href='#') 
        //-                 span.icon: img(src="/images/dev.png")
        //-                 span.text devolução
        //-         li.nav-item
        //-             a.nav-link(href='#') 
        //-                 span.icon: img(src="/images/stp.png")
        //-                 span.text Status do pedido
        //-         li.nav-item
        //-             a.nav-link(href='#') 
        //-                 span.icon: img(src="/images/faq.png")
        //-                 span.text perguntas frequentes
        //-         li.nav-item
        //-             a.nav-link(href='#') 
        //-                 span.icon: img(src="/images/chat.png")
        //-                 span.text chat
        //-         li.nav-item
        //-             a.nav-link(href='#') 
        //-                 span.icon: img(src="/images/wp.png")
        //-                 span.text whatsapp
        //-         li.nav-item
        //-             a.nav-link(href='#') 
        //-                 span.icon: img(src="/images/vdo.png")
        //-                 span.text vendedor online
        #sidemenu
            .burguer-menu#dropdownMenuButton( data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                span.burguer-menu--dash
                span.burguer-menu--dash
                span.burguer-menu--dash

            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                a.dropdown-item(href='#')
                    span.icon: img(src="/images/dev.png")
                    span.text devolução
                a.dropdown-item(href='#')
                    span.icon: img(src="/images/stp.png")
                    span.text Status do pedido
                a.dropdown-item(href='#')
                    span.icon: img(src="/images/faq.png")
                    span.text perguntas frequentes
                a.dropdown-item(href='#')
                    span.icon: img(src="/images/chat.png")
                    span.text chat
                a.dropdown-item(href='#')
                    span.icon: img(src="/images/wp.png")
                    span.text whatsapp
                a.dropdown-item(href='#')
                    span.icon: img(src="/images/vdo.png")
                    span.text vendedor online

        .container#staticHeader
            #logoHeader.d-flex.justify-content-center
                a(href="/"): img(src="/images/logoH.png", id="logoH")
            ul.nav#homemenu
                li.nav-item
                    a.nav-link(href='#') novidades
                li.nav-item.dropdown
                    a.nav-link(href="#" id="colec") coleção
                li.nav-item
                    a.nav-link(href='#') joias
                li.nav-item
                    a.nav-link(href='#') sale
                li.nav-item
                    a.nav-link(href='#'): img(src="/images/inside.png", alt="inside", id="inside")          
        #menucolec
            .wrapper
                #cate 
                    p.title categorias
                    #side1
                        a(href="/colecao/VESTIDO")
                            p VESTIDO
                        a(href="/colecao/TOP&#47BLUSA")
                            p TOP/BLUSA
                        a(href="/colecao/CALÇA")
                            p CALÇA
                        a(href="/colecao/CAMISA")
                            p CAMISA
                        a(href="/colecao/JAQUETA")
                            p JAQUETA
                        a(href="/colecao/MACACÃO")
                            p MACACÃO
                        a(href="/colecao/SAIA")
                            p SAIA
                        a(href="/colecao/SHORT")
                            p SHORT
                        a(href="/colecao/BLAZER")
                            p BLAZER
                        a(href="/colecao/COLETE")
                            p COLETE
                        a(href="/colecao/TUDO")
                            p ver TUDO >
                    
                    #vdiver
                    #side2
                        a(href="/colecao/COURO")
                            p COURO
                        a(href="/colecao/SEDA")
                            p SEDA
                        a(href="/colecao/TRICOT")
                            p TRICOT
                        a(href="/colecao/CLUB&#47NOITE")
                            p CLUB/NOITE
                        a(href="/colecao/JEANS")
                            p JEANS
                        a(href="/colecao/MALHA")
                            p MALHA
                        a(href="/colecao/ALFAIATARIA")
                            p ALFAIATARIA
                        a(href="/colecao/TUDO")
                            p ver TUDO >
                #ace
                    p.title acessórios
                    #side1
                        a(href="/colecao/BOLSAS")
                            p BOLSAS
                        a(href="/colecao/CALÇADOS")
                            p CALÇADOS
                        a(href="/colecao/CINTO")
                            p CINTO
                        a(href="/colecao/COLAR")
                            p CLUB/NOITE
                        a(href="/colecao/ANEL")
                            p ANEL
                        a(href="/colecao/BRINCO")
                            p BRINCO
                        a(href="/colecao/PULSEIRA&#47 BRACELETE")
                            p PULSEIR/BRACELETE
                        a(href="/colecao/ECHARPE&#47LENÇO")
                            p ECHARPE/LENÇO
                        a(href="/colecao/TUDO")
                            p ver TUDO >
                #intim
                    p.title intimates 
                    #side1
                        a(href="/colecao/LINGERIE")
                            p LINGERIE
                        a(href="/colecao/UNDERWARE")
                            p UNDERWARE
                        a(href="/colecao/TUDO")
                            p ver TUDO >                
        #scrollHeader
            .container#wrapper
                #logoHeader
                    a(href="/"): img(src="/images/logoH.png", id="logoH")
                ul.nav#homemenu
                    li.nav-item
                        a.nav-link(href='#') novidades
                    li.nav-item
                        a.nav-link(href='#') coleção
                    li.nav-item
                        a.nav-link(href='#') joias
                    li.nav-item
                        a.nav-link(href='#') sale
                    li.nav-item
                        a.nav-link(href='#'): img(src="/images/inside.png", alt="inside", id="inside")

        block content
        br
        hr
        footer
            .container
                .col-md-8.offset-md-4#footerheader
                    #text
                        span#title NEWSLETTER
                        span#tx Cadastre-se para receber nossas novidades e promoções:
                    #form
                        form(action="newsletter", method="post")
                            input(type="text", name="nome", placeholder="nome")
                            input(type="email", name="email" placeholder="e-mail")
                            button(type="submit") ok
            ul.nav
                li.nav-item
                    a.nav-link(href='#') A marca
                li.nav-item
                    a.nav-link(href='#') minha conta
                li.nav-item
                    a.nav-link(href='#') políticas
                li.nav-item
                    a.nav-link(href='#') formas de pagamento
                li.nav-item
                    a.nav-link(href='#') newsletter
            #finalnote RBX RIO COMÉRCIO DE ROUPAS LTDA. ESTRADA DOS BANDEIRANTES, 1.700 - GALPÃO 03, ARMAZÉM 104 - TAQUARA, RIO DE JANEIRO, RJ - CEP: 22775-109. CNPJ: 10.285.590/0002-80.

        script(src="/bower_components/jquery/dist/jquery.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.bundle.js")
        script(src="/js/A.js")
