@font-face {
    font-family: 'Futura Light';
    src: url('/fonts/FuturaLtBTLight.ttf')  format('truetype')
}

@font-face {
    font-family: 'Futura Bold';
    src: url('/fonts/FuturaMdBTBold.ttf')  format('truetype')
}

body {
    font-family: 'Futura Light', Fallback, sans-serif;
    a{
        color: #000;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    } 
    #notfound{
        position: relative;
        margin: 25px auto;
        text-align: center;
        img{
            opacity: .7;
        }
    }
    #menucolec{
        position: absolute;
        z-index: 100;
        top: 100px;
        background: #F4F4F4;
        width: 100%;
        height: 300px;
        font-size: 12px;
        text-transform: uppercase;
        display: none;
        .wrapper{
            display: grid;
            grid-template-columns: 33% 33% 33%;
            align-items: center;
            justify-items: center;
            width: 80%;
            grid-gap: 70px;
            margin: 0 auto;
            margin-top: 30px;
            #cate{
                width: 100%;
                display: grid;
                grid-template-rows: 25px auto;
                grid-template-columns: auto 20px auto;
                align-items: center;
                justify-items: center;
                #side1, #side2{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 247px;
                }
            }
            #ace, #intim {
                display: grid;
                grid-template-rows: 25px auto;
                width: 100%;
                align-items: center;
                justify-items: center;
                #side1{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 247px;
                }
            }
        }
        .title{
            font-weight: 600;
            grid-column: span 3;
            width: 100%;
        }
        a{
            p{
                text-transform: uppercase;
                // border: 2px solid red;
                height: 25px;
                width: 75px;
                z-index: 110;
                &:hover{
                    font-weight: 600;
                }
            }
        }
        img{
            padding: 10px 0;
        }
    }
    #sidemenu{
        position: absolute;
        right: 0;
        top: 25%;
        text-transform: uppercase;
        z-index: 99;
        background: #fff;
        border: 1px solid #000;
        text-align: center;
        #dropdownMenuButton{
           width: 50px;
           padding: 10px;
           .burguer-menu--dash{
               width: auto;
           }
        }
        img{
            width: 15%;
            margin-right: 15px;
        }
        .dropdown-menu{
            float: left!important;
            left: -120px!important;
            width: 280px;
        }      
    }
    #staticHeader{
        #logoHeader{
            margin-top: 20px;
            margin-bottom: 15px;
            #logoH{
                width: 80%;
            }
        }
        #homemenu{
            display: grid;
            align-items: center;
            justify-content: center;
            grid-auto-flow: column;
            padding: 0;
            padding-bottom: 5px;
            position: relative;
            top: 0;
            // margin-bottom: 5px;
            li{
                list-style-type: none;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                width: max-content;
                margin: 0 20px;
                height: 35px;
                text-align: center;
                // background: red;
                border-bottom: 1px solid transparent;
                position: relative;
                a{
                    padding: 0;
                    margin: 0;
                }
                &:hover{
                    text-align: center;
                }
                &:after{
                    position:absolute;
                    content:"";
                    display:block;
                    height:2px;
                    bottom: 0;
                    border-bottom: 1px solid #000;
                    left: 0;
                    animation: out .3s both alternate;
                }
                &:hover:after{
                    display: block;
                    animation: in .3s both alternate;
                    border-bottom: 1px solid #000;
                }
                #inside{
                    width: 90%;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }

    #scrollHeader{
        display: none;
        z-index: 99;
        background: #fff;
        width: 100%;
        padding: 5px 0;
        #wrapper{
            display: inline-flex;
            align-content: center;
            justify-content: left;
            #logoHeader{
                margin: auto 0;
                margin-left: 10px;
                #logoH{
                    width: 75%;
                }
            }
            #homemenu{
                padding: 0;
                // margin-bottom: 5px;
                li{
                    list-style-type: none;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 13px;
                    width: max-content;
                    margin: 0 20px;
                    height: 35px;
                    text-align: center;
                    // background: red;
                    transition: .2s ease-in-out;
                    border-bottom: 1px solid transparent;
                    position: relative;
                    a{
                        padding: 0;
                        margin: 0;
                    }
                    &:hover{
                        text-align: center;
                    }
                    &:after{
                        position:absolute;
                        content:"";
                        display:block;
                        height:38px;
                        border-bottom: 1px solid #000;
                        left: 0;
                        animation: out .3s both alternate;
                    }
                    &:hover:after{
                        display: block;
                        animation: in .3s both alternate;
                        border-bottom: 1px solid #000;
                    }
                    #inside{
                        width: 65%;
                        transition: .2s ease-in-out;
                    }
                }
            }
        }
    }

    #hero{
        display: grid;
        grid-gap: 0;
        margin: 0;
        padding: 0;
        grid-template-rows: auto auto auto;
        grid-template-columns: 50% 50%;
        overflow: hidden;
        img{
            width: 100%;
        }
        #solid{
            background: #000;
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            #herobtn{
                opacity: 0;
                position: absolute;
                top: 422px;
                width: 110px;
                left: 71.1%;
                height: 48px;
                color: #000;
                font-size: 15px;
                background: #FFF;
                border: 4px solid #000;
                font-weight: 600;
                font-family: sans-serif;
                transition: ease-in-out .5s;
                text-transform: uppercase;
                &:hover{
                    opacity: 1;
                }
            }
            img{
                width: 50%;

            }
            #text{
                position: absolute;
                color: #fff;
                display: grid;
                width: 40%;
                top: 50%;
                transform: translate(-50%, -50%);
                grid-gap: 15px;
                .title{
                    font-weight: 600;
                }
                .cont{
                    font-size: 12px;
                }
                a{
                    text-transform: uppercase;
                    text-align: center;
                    color: #fff;
                    font-weight: 900;
                    font-size: 12px;
                    border-bottom: 1px solid #fff;
                    width: 120px;
                    transition: all .3s ease-in-out ;
                    
                }
                #link:hover > a{
                    padding: 5px 8px;
                    border: 1px solid #fff;
                    background: #000;
                    color: #fff;
                }
            }
            .a{
                text-align: right;
                left: 60%;
            }
            .b{
                text-align: left;
                right: 20%;
            }
        }
    }

    #hero2{
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
        }
        #text{
            position: absolute;
            color: #fff;
            display: grid;
            width: 15%;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            .title{
                font-weight: 600;
            }
            .cont{
                font-size: 12px;
            }
            a{
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                font-weight: 900;
                font-size: 12px;
                border-bottom: 1px solid #fff;
                width: 120px;
                transition: all .3s ease-in-out ;
                
            }
            #link:hover > a{
                padding: 5px 8px;
                border: 1px solid #fff;
                background: #000;
                color: #fff;
            }
        }
    }

    #hero3{
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        height: 500px;
        .cd{
            display: grid;
            grid-template-rows: auto 40%;
            img{
                width: 100%;
            }
            .cd-box{
                display: grid;
                text-align: center;
                align-content: center;
                justify-content: center;
                color:#000;
                background: #fff;
                padding: 20px 40px;
                span, #link{
                    margin: 5px 0;
                }
                .ti{
                    text-align: center;
                    font-weight: 600;
                }
                .ct{
                    text-align: center;
                    font-size: 12px;
                }
                a{
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 900;
                    font-size: 12px;
                    border-bottom: 1px solid #000;
                    width: 120px;
                    transition: all .3s ease-in-out ;
                    
                }
                #link:hover > a{
                    padding: 5px 8px;
                    border: 1px solid #000;
                    background: #000;
                    color: #fff;
                }
            }
        }
    }


    footer{
        background: #E5E5E5;
        width: 100%;
        color: #000;
        position: relative;
        text-transform: uppercase;
        #footerheader{
            height: 195px;
            // position: absolute;
            align-items: center;
            justify-content: flex-end;
            right: 0;
            display: grid;
            grid-template-columns: 60% auto;
            #text{
                display: grid;
                width: 100%;
                #title{
                    font-weight: 900;
                    font-size: 28px;
                }
                #tx{
                    font-size: 11px;
                    width: 190px;
                }
            }
            #form{
                width: 100%;
                input[type="text"]{
                    width: 350px;
                    padding: 0px 13px;
                    font-weight: 600;
                    font-size: 12px;
                    color: #000;
                    height: 28px;
                    border: none;
                    margin: 5px 0px;
                }
                input[type="email"]{
                    width: 250px;
                    padding: 0px 13px;
                    font-weight: 600;
                    font-size: 12px;
                    color: #000;
                    height: 28px;
                    border: none;
                }
                button{
                    width: 100px;
                    background: #000;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 12px;
                    height: 28px;
                    border: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        ul.nav{
            background-color: #000;
            bottom: 0;
            width: 100%;
            color: #fff;
            font-size: 12px;
            li{
                margin: 5px 15px;
                color: #fff;
                a{
                    color: #fff;

                }
            }
        }
        #finalnote{
            background: #fff;
            width: 100%;
            font-size: 11px;
            text-align: center;
            font-weight: 300;
        }
    }
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

$spindefault: rotate(0deg);
$spinright: rotate(135deg);
$spinleft: rotate(-135deg);
$duration: .25s;
$type: ease-in-out;

// Mixin to position the menu bar
@mixin dash-burguer-menu () {
  @for $i from 1 through 3 {
    &--dash:nth-child(#{$i}) {
      top: #{$i*11}px;
      position: relative;
    }
  }
}

@mixin open-burguer-menu () {
  &--dash:nth-child(1) {
    top: 24px;
    transform: $spinright;
  }
    
  &--dash:nth-child(2) {
    left: -30px;
    opacity: 0;
  }
  
  &--dash:nth-child(3) {
    top: 20px;
    transform: $spinleft;
  }
}

.burguer-menu {
  width: 50px;
  height: 50px;
  margin: auto;
  cursor: pointer;
  transition: $duration * 2 $type;
  @include dash-burguer-menu();
   
  &--dash {
    height: 2px;
    width: 100%;
    display: block;
    background: black;
    transition: $duration $type;
    transform: $spindefault;
    opacity: 1;
    left: 0;
    transform: $spindefault;
    transition: $duration $type;
  }
  
  .open &{
    @include open-burguer-menu();
  }
}

@-webkit-keyframes in{
    from{
        width: 0;
    } 
    to{
        width: 100%;
    }
}
@-webkit-keyframes out{
    from{
        width: 100%;
    } 
    to{
        width: 0;
    }
}

@-webkit-keyframes shoplink{
    from{
        width: 0;
    } 
    to{
        width: 100%;
    }
}
