@font-face {
  font-family: 'Futura Light';
  src: url("/fonts/FuturaLtBTLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Futura Bold';
  src: url("/fonts/FuturaMdBTBold.ttf") format("truetype");
}

body {
  font-family: 'Futura Light', Fallback, sans-serif;
}

body a {
  color: #000;
}

body a:hover {
  color: #000;
  text-decoration: none;
}

body #notfound {
  position: relative;
  margin: 25px auto;
  text-align: center;
}

body #notfound img {
  opacity: .7;
}

body #menucolec {
  position: absolute;
  z-index: 100;
  top: 100px;
  background: #F4F4F4;
  width: 100%;
  height: 300px;
  font-size: 12px;
  text-transform: uppercase;
  display: none;
}

body #menucolec .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 80%;
  grid-gap: 70px;
  margin: 0 auto;
  margin-top: 30px;
}

body #menucolec .wrapper #cate {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25px auto;
      grid-template-rows: 25px auto;
  -ms-grid-columns: auto 20px auto;
      grid-template-columns: auto 20px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

body #menucolec .wrapper #cate #side1, body #menucolec .wrapper #cate #side2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 247px;
}

body #menucolec .wrapper #ace, body #menucolec .wrapper #intim {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25px auto;
      grid-template-rows: 25px auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

body #menucolec .wrapper #ace #side1, body #menucolec .wrapper #intim #side1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 247px;
}

body #menucolec .title {
  font-weight: 600;
  grid-column: span 3;
  width: 100%;
}

body #menucolec a p {
  text-transform: uppercase;
  height: 25px;
  width: 75px;
  z-index: 110;
}

body #menucolec a p:hover {
  font-weight: 600;
}

body #menucolec img {
  padding: 10px 0;
}

body #sidemenu {
  position: absolute;
  right: 0;
  top: 25%;
  text-transform: uppercase;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
}

body #sidemenu #dropdownMenuButton {
  width: 50px;
  padding: 10px;
}

body #sidemenu #dropdownMenuButton .burguer-menu--dash {
  width: auto;
}

body #sidemenu img {
  width: 15%;
  margin-right: 15px;
}

body #sidemenu .dropdown-menu {
  float: left !important;
  left: -120px !important;
  width: 280px;
}

body #staticHeader #logoHeader {
  margin-top: 20px;
  margin-bottom: 15px;
}

body #staticHeader #logoHeader #logoH {
  width: 80%;
}

body #staticHeader #homemenu {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-flow: column;
  padding: 0;
  padding-bottom: 5px;
  position: relative;
  top: 0;
}

body #staticHeader #homemenu li {
  list-style-type: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 20px;
  height: 35px;
  text-align: center;
  border-bottom: 1px solid transparent;
  position: relative;
}

body #staticHeader #homemenu li a {
  padding: 0;
  margin: 0;
}

body #staticHeader #homemenu li:hover {
  text-align: center;
}

body #staticHeader #homemenu li:after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  bottom: 0;
  border-bottom: 1px solid #000;
  left: 0;
  -webkit-animation: out .3s both alternate;
          animation: out .3s both alternate;
}

body #staticHeader #homemenu li:hover:after {
  display: block;
  -webkit-animation: in .3s both alternate;
          animation: in .3s both alternate;
  border-bottom: 1px solid #000;
}

body #staticHeader #homemenu li #inside {
  width: 90%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body #scrollHeader {
  display: none;
  z-index: 99;
  background: #fff;
  width: 100%;
  padding: 5px 0;
}

body #scrollHeader #wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

body #scrollHeader #wrapper #logoHeader {
  margin: auto 0;
  margin-left: 10px;
}

body #scrollHeader #wrapper #logoHeader #logoH {
  width: 75%;
}

body #scrollHeader #wrapper #homemenu {
  padding: 0;
}

body #scrollHeader #wrapper #homemenu li {
  list-style-type: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 20px;
  height: 35px;
  text-align: center;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border-bottom: 1px solid transparent;
  position: relative;
}

body #scrollHeader #wrapper #homemenu li a {
  padding: 0;
  margin: 0;
}

body #scrollHeader #wrapper #homemenu li:hover {
  text-align: center;
}

body #scrollHeader #wrapper #homemenu li:after {
  position: absolute;
  content: "";
  display: block;
  height: 38px;
  border-bottom: 1px solid #000;
  left: 0;
  -webkit-animation: out .3s both alternate;
          animation: out .3s both alternate;
}

body #scrollHeader #wrapper #homemenu li:hover:after {
  display: block;
  -webkit-animation: in .3s both alternate;
          animation: in .3s both alternate;
  border-bottom: 1px solid #000;
}

body #scrollHeader #wrapper #homemenu li #inside {
  width: 65%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

body #hero {
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
  margin: 0;
  padding: 0;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  overflow: hidden;
}

body #hero img {
  width: 100%;
}

body #hero #solid {
  background: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body #hero #solid #herobtn {
  opacity: 0;
  position: absolute;
  top: 422px;
  width: 110px;
  left: 71.1%;
  height: 48px;
  color: #000;
  font-size: 15px;
  background: #FFF;
  border: 4px solid #000;
  font-weight: 600;
  font-family: sans-serif;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
  text-transform: uppercase;
}

body #hero #solid #herobtn:hover {
  opacity: 1;
}

body #hero #solid img {
  width: 50%;
}

body #hero #solid #text {
  position: absolute;
  color: #fff;
  display: -ms-grid;
  display: grid;
  width: 40%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  grid-gap: 15px;
}

body #hero #solid #text .title {
  font-weight: 600;
}

body #hero #solid #text .cont {
  font-size: 12px;
}

body #hero #solid #text a {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  border-bottom: 1px solid #fff;
  width: 120px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body #hero #solid #text #link:hover > a {
  padding: 5px 8px;
  border: 1px solid #fff;
  background: #000;
  color: #fff;
}

body #hero #solid .a {
  text-align: right;
  left: 60%;
}

body #hero #solid .b {
  text-align: left;
  right: 20%;
}

body #hero2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

body #hero2 img {
  width: 100%;
}

body #hero2 #text {
  position: absolute;
  color: #fff;
  display: -ms-grid;
  display: grid;
  width: 15%;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

body #hero2 #text .title {
  font-weight: 600;
}

body #hero2 #text .cont {
  font-size: 12px;
}

body #hero2 #text a {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  border-bottom: 1px solid #fff;
  width: 120px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body #hero2 #text #link:hover > a {
  padding: 5px 8px;
  border: 1px solid #fff;
  background: #000;
  color: #fff;
}

body #hero3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 500px;
}

body #hero3 .cd {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 40%;
      grid-template-rows: auto 40%;
}

body #hero3 .cd img {
  width: 100%;
}

body #hero3 .cd .cd-box {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  background: #fff;
  padding: 20px 40px;
}

body #hero3 .cd .cd-box span, body #hero3 .cd .cd-box #link {
  margin: 5px 0;
}

body #hero3 .cd .cd-box .ti {
  text-align: center;
  font-weight: 600;
}

body #hero3 .cd .cd-box .ct {
  text-align: center;
  font-size: 12px;
}

body #hero3 .cd .cd-box a {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 12px;
  border-bottom: 1px solid #000;
  width: 120px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body #hero3 .cd .cd-box #link:hover > a {
  padding: 5px 8px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
}

body footer {
  background: #E5E5E5;
  width: 100%;
  color: #000;
  position: relative;
  text-transform: uppercase;
}

body footer #footerheader {
  height: 195px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
}

body footer #footerheader #text {
  display: -ms-grid;
  display: grid;
  width: 100%;
}

body footer #footerheader #text #title {
  font-weight: 900;
  font-size: 28px;
}

body footer #footerheader #text #tx {
  font-size: 11px;
  width: 190px;
}

body footer #footerheader #form {
  width: 100%;
}

body footer #footerheader #form input[type="text"] {
  width: 350px;
  padding: 0px 13px;
  font-weight: 600;
  font-size: 12px;
  color: #000;
  height: 28px;
  border: none;
  margin: 5px 0px;
}

body footer #footerheader #form input[type="email"] {
  width: 250px;
  padding: 0px 13px;
  font-weight: 600;
  font-size: 12px;
  color: #000;
  height: 28px;
  border: none;
}

body footer #footerheader #form button {
  width: 100px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  height: 28px;
  border: none;
  margin: 0;
  padding: 0;
}

body footer ul.nav {
  background-color: #000;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-size: 12px;
}

body footer ul.nav li {
  margin: 5px 15px;
  color: #fff;
}

body footer ul.nav li a {
  color: #fff;
}

body footer #finalnote {
  background: #fff;
  width: 100%;
  font-size: 11px;
  text-align: center;
  font-weight: 300;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.burguer-menu {
  width: 50px;
  height: 50px;
  margin: auto;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.burguer-menu--dash:nth-child(1) {
  top: 11px;
  position: relative;
}

.burguer-menu--dash:nth-child(2) {
  top: 22px;
  position: relative;
}

.burguer-menu--dash:nth-child(3) {
  top: 33px;
  position: relative;
}

.burguer-menu--dash {
  height: 2px;
  width: 100%;
  display: block;
  background: black;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.open .burguer-menu--dash:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.open .burguer-menu--dash:nth-child(2) {
  left: -30px;
  opacity: 0;
}

.open .burguer-menu--dash:nth-child(3) {
  top: 20px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

@-webkit-keyframes in {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes out {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@-webkit-keyframes shoplink {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */